*/.mvn/*
*/.project
*/target/*
*/.settings/*s
*/.classpath
My-Spring-Eureka/docker/jdk1.8.0_171.tar.gz
My-Spring-First.rar
My-Mybatis-Generator/.settings/org.eclipse.wst.common.project.facet.core.xml
My-Mybatis-Generator/.factorypath
